@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  /* font-family: "Proza Libre", serif; */
  font-family: "Poppins", sans-serif;

  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
 
@keyframes move-diagonal {
  from {
    transform: translate(-20vw, 100vh);
  }
  to {
    transform: translate(100vw, -20vh);
  }
}

.animated-bg {
  position: absolute;
  width: 250px; /* Adjust size */
  height: auto;
  opacity: 0.4;
  animation: move-diagonal 60s linear infinite;
}
