@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  /* font-family: "Proza Libre", serif; */
  font-family: "Poppins", sans-serif;

  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: linear-gradient(
    to right, 
    #B8B5A8 0%, #B8B5A8 15%,   /* Muted Beige (15%) */
    #A82F0F 15%, #A82F0F 35%,  /* Deep Red (20%) */
    #9B3D57 35%, #9B3D57 50%,  /* Dark Pink (15%) */
    #C26F84 50%, #C26F84 75%,  /* Muted Coral (25%) */
    #B98616 75%, #B98616 100%  /* Deep Gold (25%) */
  );
  background-attachment: fixed;
  min-height: 100vh;
}
@keyframes move-diagonal {
  from {
    transform: translate(-20vw, 100vh);
  }
  to {
    transform: translate(100vw, -20vh);
  }
}

.animated-bg {
  position: absolute;
  width: 250px; /* Adjust size */
  height: auto;
  opacity: 0.4;
  animation: move-diagonal 60s linear infinite;
}
